h2 {
    text-align: center;
    animation-name: Anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: black;
    scale: 100%;
    font-family: VCR OSD Mono;
}

@keyframes Anim {
    0% {color: black; scale: 100%;}
    25% {color: rgb(255, 0, 0);}
    50% {color: magenta; scale: 200%;}
    75% {color: rgb(0, 170, 255);}
    100% {color: rgb(0, 0, 0); scale: 100%;}
}

.time {
    position: fixed;     
    text-align: center;
    bottom: 0px; 
    width: 100%;
    font-family: VCR OSD Mono;
}

@font-face {
    font-family: VCR OSD Mono;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    opacity: 0.0;
}