h2 {
    text-align: center;
    position: fixed;
    animation-name: Anim;
    top: 0px;
    width: 100%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: black;
    scale: 100%;
    font-family: VCR OSD Mono;
}

div {
    padding: 100px;
}

@keyframes Anim {
    0% {color: black; scale: 100%;}
    25% {color: rgb(255, 0, 0);}
    50% {color: magenta; scale: 200%;}
    75% {color: rgb(0, 170, 255);}
    100% {color: rgb(0, 0, 0); scale: 100%;}
}

@keyframes Anim2 {
    0% {color: black; scale: 100%;}
    25% {color: rgb(255, 0, 0);}
    50% {color: rgb(0, 34, 255); scale: 180%;}
    75% {color: magenta;}
    100% {color: rgb(0, 0, 0); scale: 100%;}
}



@keyframes imageAnim {
    0% {scale: 100%;}
    50% {scale: 130%;}
    100% {scale: 100%;}
}

.time {
    position: fixed;     
    text-align: center;
    bottom: 0px; 
    width: 100%;
    font-family: VCR OSD Mono;
}

@font-face {
    font-family: VCR OSD Mono;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    opacity: 0.0;
}

.imageBox {
    animation-name: imageAnim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    object-position: center center;
}

.icount {
    opacity: 0.0;
    text-align: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: Anim2;
}